<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>



<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered
                    to our awesome app!</div>
            </div>

            <h1>Registration</h1>

            <form id="registration-form" th:action="@{/api/v1/users/new-user}" method="post" th:object="${user}">
                <div class="form-group">
                    <label class="control-label" for="userName"> Username </label>
                    <input id="userName" class="form-control" th:field="*{userName}"
                           required autofocus="autofocus" />
                    <div id="userName-error" class="text-danger"> </div>
                </div>
                <div class="form-group">
                    <label class="control-label"> Roles </label>
                    <div class="form-check">
                        <input type="radio" id="USER" class="form-check-input" th:field="*{roles}" th:value="USER">
                        <label for="USER" class="form-check-label">User</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="ADMIN" class="form-check-input" th:field="*{roles}" th:value="ADMIN">
                        <label for="ADMIN" class="form-check-label">Admin</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="birthDate">Birth Date</label>
                    <input id="birthDate" class="form-control" type="date" th:value="*{birthDate}" th:field="*{birthDate}" required autofocus="autofocus"/>
                    <div id="birthDate-error" class="text-danger"></div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password"> Password </label>
                    <input id="password" class="form-control" type="password"
                        th:field="*{password}" required autofocus="autofocus" />
                    <div id="password-error" class="text-danger"></div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#registration-form").submit(function (event) {
            event.preventDefault();
            var formData = {
                 userName: $("#userName").val(),
                 password: $("#password").val(),
                 roles: $("input[name='roles']:checked").val(),
                 birthDate: $("#birthDate").val(),
             }; // Serialize form data

            $.ajax({
                type: "POST",
                url: "http://localhost:8080/api/v1/users/new-user",
                data: JSON.stringify(formData),
                contentType: "application/json",
                success: function (response) {
                    $("#registration-form")[0].reset();
                    alert("Registration successful!");
                },
                error: function (xhr) {
                    if (xhr.status === 400) {

                        var errors = xhr.responseJSON;

                        $.each(errors, function (field, message) {
                            $("#" + field + "-error").text(message);
                        });
                    } else {

                        alert("Failed to register. Please try again.");
                    }
                },
            });
        });
    });
</script>

</body>
</html>